<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.gustaf.Amped.Helper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/AmpedHelper</string>
    <key>MachServices</key>
    <dict>
        <key>dev.gustaf.Amped.Helper</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>dev.gustaf.Amped</string>
    </array>
</dict>
</plist>
